@import "../../styles/variaveis";

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $branco;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo{
  width: 33.33%;
}

.logofoto{
  width: 40%;
  max-width: 247px;
  min-width: 200px;
}

.grupometa{
  width: 33.33%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.usuarioinfo{
  width: 33.33%;
  display: flex;
  justify-content: end;
  align-items: center;

 
  
}

.bui{

  padding: 0.5rem;
  display: flex;
  border-radius: 20px;
  cursor: pointer;
  &:hover{
    background-color: #cccc;
    opacity: 5;
    transition: 0.25s;
  }
}

.nomedeusuario{
  font-size: 24px;
  margin-right: 1rem;
}