@import "../../../../styles/variaveis";

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 500px;
  height: 650px;
  border-radius: 14px;
}

.formcima {
  display: flex;
  flex-direction: column;
}

.input {
  width: 90%;
  height: 20px;
  border-radius: 100px;
  padding: 20px;
  border: 1px solid $cinza-texto;
  margin: auto;
  margin-bottom: 1rem;
}

.textarea {
  width: 90%;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid $cinza-texto;
  margin: auto;
  margin-bottom: 1rem;
}

.label {
  margin-left: 2rem;
}

.urgenciadiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radioGroup {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.radio {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

.range {
  width: 80%;
}

.botao {
  background-color: $azul-botao;
  padding: 1rem 2rem;
  border-radius: 18px;
  color: $branco;
  font-size: 2rem;
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  min-width: 60%;
  max-width: 60%;
  white-space: nowrap;
  margin: 0 auto;
}

.funcionarios{
  border: 1px solid $cinza-texto;
  border-radius: 10px;
}