.form{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 225px;
  justify-content: space-around;

  
}
  .divinput{
    display: flex;
    flex-direction: column;

    label{
      margin-left: 1.5rem;
      margin-bottom: 0.5rem;
    }

    input, select {
      border: 1px solid #000;
      height: 35px;
      border-radius: 20px;
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 1rem;
    }

    select[multiple]{
      overflow: auto;
      border-radius: 10px;
      padding: 10px;
    }

  

  }
  .botao{
    height: 3rem;
    width: 12rem;
    margin: 0 auto;
    border-radius: 15px;
  }


  .tabela{
    margin-top: 1.5rem;
    margin-left: 1rem;
    overflow: auto;

    label{
      margin-left: 1rem;
    }

  }

