.titulo {
 text-align: center;
margin-top: 2rem;
color: azure;
}

.blocoA{

  margin-top: 5rem;

  background-color: #312F2F;

  margin-left: 5rem;
  margin-right: 5rem;

  border-radius: 10px;

}

.boasVindas{

  margin-left: 2%;
  margin-right: 2%;

  color: azure;

  .boasVindasTitulo{

    


  }

}