@import "../../styles/variaveis";

.page{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
    background-color: $azul-padrao;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 8px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 25px;
  }
.subcontainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;



}

.subcontainerdiv{
  height: 33.33%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .titulo{
    font-family: 'Jura', sans-serif;
    color: $branco;
    font-size: 5vw;
  }

  .descricao{
    font-size: 2vw;
    text-align: center;
    color: $branco;
  }

  .botao{
    background-color: $azul-escuro;
    padding: 1vh 1vw;
    border-radius: 18px;
    color: $branco;
    font-size: 1vw;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  }

}

////

.subcontainer1{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $branco;
   border-radius:  0px 20px 20px 0px;
}


.titulodiv{
  height: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  .titulo{
    font-size: 4vw;
  }
}

.login{
  height: 33.33%;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  .formulariodiv{
    display: flex;
    flex-direction: column;
    height: 100%;
    .formulario{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .miniform{
        display: flex;
        flex-direction: column;

      }
      .formulariolabel{
        font-size: 1.25vw;
      }
      .formularioinput{
        background-color: $branco;
        border: 1px solid $cinza-texto;
        border-radius: 20px;
        padding: 10px 5px;
        margin-bottom: 2rem;
      }
    }
  }
}

.botaologindiv{
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  .botaologin{
     background-color: $cinza-escuro;
    padding: 1.5vh 3vw;
    border-radius: 18px;
    color: $branco;
    font-size: 1.5vh;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  }

  }


