.titulo {
  text-align: center;
  margin-top: 2rem;
  color: azure;
}

.blocoA {


  margin-top: 5rem;
  justify-content: end;

  background-color: #909090;

  border-radius: 10px;
}

.boasVindas {
  margin-left: 2vw;

  color: azure;

  .boasVindasTitulo {
    margin-left: 2vw;
  }
}
